$dark-blue: #142F4C;
$light-blue: #F5F9FC;
$dark-gray: #3C3940;
$medium-gray: #6E6869;
$medium-light-gray: #e6e6e6;
$light-gray: #FAFAFA;
$orange: #F9C031;
$red: #F55765;
$white: #FFFFFF;
$black: #000000;
