@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import '_colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: $light-blue;
    font-family: 'Popins', sans-serif;
    min-height: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    main {
        max-width: 100vw;
        min-height: 700px;
        padding: 20px 12px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 30px 12px;
        overflow: hidden;
    }
    
    button {
        cursor: pointer;
    }
    
    button[type=submit] {
        width: 100%;
        background-color: $dark-blue;
        color: $white;
        font-weight: 600;
        border: none;
        border-radius: 5px;
        padding: 10px;
        margin-top: 15px;
    }
    
    button:disabled {
        opacity: .5;
        cursor: not-allowed;
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}


@media only screen and (min-width: 1200px) {
    main {
        align-items: center;
        justify-content: space-around;
    }
}