@import '../../styles/colors';
@import '../../styles/mixins';

.edit-modal {
    @include modal-container-center;
    position: fixed;

    .edit-form {
        @include modal-form;
        min-width: 320px;
        max-width: 490px;

        .close-modal {
            @include close-modal-button;
        }

        p {
            font-size: 22px;
            font-weight: 600;
            color: $dark-gray;
            padding-bottom: 20px;
        }

        .input-box {
            @include input-box;

            label {
                font-size: 14px;
            }

            input {
                height: 30px;
            }

        }

    }
}